.report-container {
  width: 80%;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  width: 60%;
}

.report-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.movimientos-container {
  margin-bottom: 20px;
}

.movimiento-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
}

.movimiento-item p {
  margin: 5px 0;
}

.button-container {
  text-align: center;
}

.button-container button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #0056b3;
}