/* src/components/Movimientos.css */
.unique-movimientos-style {
    padding: 20px;
    background-color: #fafafa;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .unique-movimientos-style h2 {
    color: #555;
  }
  